.top-row {
    margin-top: 15px;
    margin-bottom: 10px;
}

body {
    background-image: url('http://localhost/alg/img/paper.png');
}

img {
    position: absolute;
}

.region-list {
    float: right;
    margin-top: 15px;
    margin-right: 10%;
    display: block;
}

.centered{
    float: none;
    margin: 0 auto;
}

/* image for link in main page*/

#cphContent_repRegions_hlRegion_0:before {
    content: "";
    display: block;
    background: url("http://localhost/alg/img/cherkasy.jpg") no-repeat;
    background-size:contain;
    width: 30px;
    height: 30px;
    float: left;
    margin: 0 6px 0 0;
    position: relative;
}

#cphContent_repRegions_hlRegion_1:before {
    content: "";
    display: block;
    background: url("http://localhost/alg/img/chernigiv.jpg") no-repeat;
    background-size:contain;
    width: 30px;
    height: 30px;
    float: left;
    margin: 0 6px 0 0;
    position: relative;
}

#cphContent_repRegions_hlRegion_2:before {
    content: "";
    display: block;
    background: url("http://localhost/alg/img/chernivtsi.jpg") no-repeat;
    background-size:contain;
    width: 30px;
    height: 30px;
    float: left;
    margin: 0 6px 0 0;
    position: relative;
}

#cphContent_repRegions_hlRegion_3:before {
    content: "";
    display: block;
    background: url("http://localhost/alg/img/Crimea.jpg") no-repeat;
    background-size:contain;
    width: 30px;
    height: 30px;
    float: left;
    margin: 0 6px 0 0;
    position: relative;
}

#cphContent_repRegions_hlRegion_4:before {
    content: "";
    display: block;
    background: url("http://localhost/alg/img/dnipropetrovsk.jpg") no-repeat;
    background-size:contain;
    width: 30px;
    height: 30px;
    float: left;
    margin: 0 6px 0 0;
    position: relative;
}

#cphContent_repRegions_hlRegion_5:before {
    content: "";
    display: block;
    background: url("http://localhost/alg/img/Donetsk.jpg") no-repeat;
    background-size:contain;
    width: 30px;
    height: 30px;
    float: left;
    margin: 0 6px 0 0;
    position: relative;
}

#cphContent_repRegions_hlRegion_6:before {
    content: "";
    display: block;
    background: url("http://localhost/alg/img/Ivano-Frankivsk.jpg") no-repeat;
    background-size:contain;
    width: 30px;
    height: 30px;
    float: left;
    margin: 0 6px 0 0;
    position: relative;
}

#cphContent_repRegions_hlRegion_7:before {
    content: "";
    display: block;
    background: url("http://localhost/alg/img/Kharkiv.jpg") no-repeat;
    background-size:contain;
    width: 30px;
    height: 30px;
    float: left;
    margin: 0 6px 0 0;
    position: relative;
}

#cphContent_repRegions_hlRegion_8:before {
    content: "";
    display: block;
    background: url("http://localhost/alg/img/Kherson.jpg") no-repeat;
    background-size:contain;
    width: 30px;
    height: 30px;
    float: left;
    margin: 0 6px 0 0;
    position: relative;
}

#cphContent_repRegions_hlRegion_9:before {
    content: "";
    display: block;
    background: url("http://localhost/alg/img/Khmelnitsky.jpg") no-repeat;
    background-size:contain;
    width: 30px;
    height: 30px;
    float: left;
    margin: 0 6px 0 0;
    position: relative;
}

#cphContent_repRegions_hlRegion_10:before {
    content: "";
    display: block;
    background: url("http://localhost/alg/img/Kirovograd.jpg") no-repeat;
    background-size:contain;
    width: 30px;
    height: 30px;
    float: left;
    margin: 0 6px 0 0;
    position: relative;
}

#cphContent_repRegions_hlRegion_11:before {
    content: "";
    display: block;
    background: url("http://localhost/alg/img/Kyiv.jpg") no-repeat;
    background-size:contain;
    width: 30px;
    height: 30px;
    float: left;
    margin: 0 6px 0 0;
    position: relative;
}

#cphContent_repRegions_hlRegion_12:before {
    content: "";
    display: block;
    background: url("http://localhost/alg/img/Lugansk.jpg") no-repeat;
    background-size:contain;
    width: 30px;
    height: 30px;
    float: left;
    margin: 0 6px 0 0;
    position: relative;
}

#cphContent_repRegions_hlRegion_13:before {
    content: "";
    display: block;
    background: url("http://localhost/alg/img/Lviv.jpg") no-repeat;
    background-size:contain;
    width: 30px;
    height: 30px;
    float: left;
    margin: 0 6px 0 0;
    position: relative;
}

#cphContent_repRegions_hlRegion_14:before {
    content: "";
    display: block;
    background: url("http://localhost/alg/img/Mykolaiv.jpg") no-repeat;
    background-size:contain;
    width: 30px;
    height: 30px;
    float: left;
    margin: 0 6px 0 0;
    position: relative;
}

#cphContent_repRegions_hlRegion_15:before {
    content: "";
    display: block;
    background: url("http://localhost/alg/img/Odessa.jpg") no-repeat;
    background-size:contain;
    width: 30px;
    height: 30px;
    float: left;
    margin: 0 6px 0 0;
    position: relative;
}

#cphContent_repRegions_hlRegion_16:before {
    content: "";
    display: block;
    background: url("http://localhost/alg/img/Poltava.jpg") no-repeat;
    background-size:contain;
    width: 30px;
    height: 30px;
    float: left;
    margin: 0 6px 0 0;
    position: relative;
}

#cphContent_repRegions_hlRegion_17:before {
    content: "";
    display: block;
    background: url("http://localhost/alg/img/Rivne.jpg") no-repeat;
    background-size:contain;
    width: 30px;
    height: 30px;
    float: left;
    margin: 0 6px 0 0;
    position: relative;
}

#cphContent_repRegions_hlRegion_18:before {
    content: "";
    display: block;
    background: url("http://localhost/alg/img/Sumy.jpg") no-repeat;
    background-size:contain;
    width: 30px;
    height: 30px;
    float: left;
    margin: 0 6px 0 0;
    position: relative;
}

#cphContent_repRegions_hlRegion_19:before {
    content: "";
    display: block;
    background: url("http://localhost/alg/img/Ternopil.jpg") no-repeat;
    background-size:contain;
    width: 30px;
    height: 30px;
    float: left;
    margin: 0 6px 0 0;
    position: relative;
}

#cphContent_repRegions_hlRegion_20:before {
    content: "";
    display: block;
    background: url("http://localhost/alg/img/Vinnytsia.jpg") no-repeat;
    background-size:contain;
    width: 30px;
    height: 30px;
    float: left;
    margin: 0 6px 0 0;
    position: relative;
}

#cphContent_repRegions_hlRegion_21:before {
    content: "";
    display: block;
    background: url("http://localhost/alg/img/Volyn.jpg") no-repeat;
    background-size:contain;
    width: 30px;
    height: 30px;
    float: left;
    margin: 0 6px 0 0;
    position: relative;
}

#cphContent_repRegions_hlRegion_22:before {
    content: "";
    display: block;
    background: url("http://localhost/alg/img/Zakarpattia.jpg") no-repeat;
    background-size:contain;
    width: 30px;
    height: 30px;
    float: left;
    margin: 0 6px 0 0;
    position: relative;
}

#cphContent_repRegions_hlRegion_23:before {
    content: "";
    display: block;
    background: url("http://localhost/alg/img/Zaporizhya.jpg") no-repeat;
    background-size:contain;
    width: 30px;
    height: 30px;
    float: left;
    margin: 0 6px 0 0;
    position: relative;
}

#cphContent_repRegions_hlRegion_24:before {
    content: "";
    display: block;
    background: url("http://localhost/alg/img/Zhytomyr.jpg") no-repeat;
    background-size:contain;
    width: 30px;
    height: 30px;
    float: left;
    margin: 0 6px 0 0;
    position: relative;
}